
Prices_Tiles_Competitors/.idea/inspectionProfiles/profiles_settings.xml
Prices_Tiles_Competitors/.idea/inspectionProfiles/profiles_settings.xml
Prices_Tiles_Competitors/.idea/misc.xml
Prices_Tiles_Competitors/.idea/modules.xml
Prices_Tiles_Competitors/.idea/Prices_Tiles_Competitors.iml
Prices_Tiles_Competitors/.idea/vcs.xml
.idea/
Prices_Tiles_Competitors/.idea/
